$fontHeadings: 14px;
$lightTextColor: hsl(0, 0%, 100%);
$darkTextColor: hsl(0, 0%, 0%);
$lightGrayishColor: hsl(228, 12%, 44%);
$darkGrayishColor: hsl(228, 34%, 66%);
$plusColor: hsl(163, 72%, 41%);
$minusColor: hsl(356, 69%, 56%);
$lightCardBGColor: hsl(227, 47%, 96%);

$darkBGColor: hsl(230, 17%, 14%);
$darkHeaderColor: hsl(232, 19%, 15%);
$darkCardBGColor: hsl(228, 28%, 20%);
